doctype html
html(lang="en")
  head
    title Picture under
    link(href="https://fonts.googleapis.com/css?family=Roboto:300,400,600,700&amp;subset=cyrillic-ext" rel="stylesheet")
    link(rel="stylesheet" type="text/css" href="../../css/main.css?v1")
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0")
  body
    -text1 = [{'header':'Visual Research', 'caption':'Tilda Publishing', 'bg':'https://static.tildacdn.com/tild3361-6465-4530-a538-313434386239/photo143830243944182e18f791f5e.jpeg'},]
    -text2 = [{'header':'Visual Research', 'caption':'Tilda Publishing', 'bg':'https://images.unsplash.com/photo-1484503793037-5c9644d6a80a?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=1037cea36bb8bcf2267c7b4872e70012&auto=format&fit=crop&w=1601&q=80'},{'header':'Digital Storytelling', 'caption':'The Future', 'bg':'https://images.unsplash.com/photo-1428908728789-d2de25dbd4e2?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=d00f965d7f845968dd35c3590094149f&auto=format&fit=crop&w=1050&q=80'},]
    -text4 = [{'header':'Visual Research', 'caption':'Tilda Publishing', 'bg':'https://images.unsplash.com/photo-1484503793037-5c9644d6a80a?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=1037cea36bb8bcf2267c7b4872e70012&auto=format&fit=crop&w=1601&q=80'},{'header':'Digital Storytelling', 'caption':'The Future', 'bg':'https://images.unsplash.com/photo-1428908728789-d2de25dbd4e2?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=d00f965d7f845968dd35c3590094149f&auto=format&fit=crop&w=1050&q=80'},{'header':'Visual Research', 'caption':'Tilda Publishing', 'bg':'https://images.unsplash.com/photo-1484503793037-5c9644d6a80a?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=1037cea36bb8bcf2267c7b4872e70012&auto=format&fit=crop&w=1601&q=80'},{'header':'Digital Storytelling', 'caption':'The Future', 'bg':'https://images.unsplash.com/photo-1428908728789-d2de25dbd4e2?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=d00f965d7f845968dd35c3590094149f&auto=format&fit=crop&w=1050&q=80'}]
    p picture 1 tiles
    section.tmp-template-picture-under-text#1.tmp_shadow_overlay
      .picture-prefix
        .tmp-template-header
            h2.header2 What we do
            h3.header3 Our goal is to make clients happy and help them get what they want
      .tpl-block-list-objects(data-object-number="1")
        each item in text1
          .picture-object
            .picture-overlay.picture-bg(style="background-image:url("+item.bg+")")
            .picture-overlay.picture-shadow
            .picture-wrapper
              .picture-title=item.header
              .picture-text=item.caption
    p узкая колонка в 800 пикселей сплошной фон под областью текста
    div(style="max-width:800px; margin: 0 auto")
      section.tmp-template-picture-under-text#1.tmp_text_bg_contrast
        .picture-prefix
          .tmp-template-header
              h2.header2 What we do
              h3.header3 Our goal is to make clients happy and help them get what they want
        .tpl-block-list-objects(data-object-number="1")
          each item in text1
            .picture-object
              .picture-overlay.picture-bg(style="background-image:url("+item.bg+")")
              .picture-overlay.picture-shadow
              .picture-wrapper
                .picture-title=item.header
                .picture-text=item.caption
    p picture 2 tiles
    section.tmp-template-picture-under-text.mixin-layout-tiles_2#2.tmp_no_contrast
      .picture-prefix
        .tmp-template-header
            h2.header2 What we do
            h3.header3 Our goal is to make clients happy and help them get what they want
      .tpl-block-list-objects(data-object-number="1")
        each item in text2
          .picture-object
            .picture-overlay.picture-bg(style="background-image:url("+item.bg+")")
            .picture-overlay.picture-shadow
            .picture-wrapper
              .picture-title=item.header
              .picture-text=item.caption
    p picture 2 tiles no space between
    section.tmp-template-picture-under-text.mixin-layout-tiles_2#2.tmp_no_contrast.tmp_no_space_between
      .picture-prefix
        .tmp-template-header
            h2.header2 What we do
            h3.header3 Our goal is to make clients happy and help them get what they want
      .tpl-block-list-objects(data-object-number="1")
        each item in text2
          .picture-object
            .picture-overlay.picture-bg(style="background-image:url("+item.bg+")")
            .picture-overlay.picture-shadow
            .picture-wrapper
              .picture-title=item.header
              .picture-text=item.caption
    p узкая колонка в 800 пикселей сплошной фон под областью текста
    div(style="max-width:800px; margin: 0 auto")
      section.tmp-template-picture-under-text.mixin-layout-tiles_2#2.tmp_text_bg_no_contrast
        .picture-prefix
          .tmp-template-header
              h2.header2 What we do
              h3.header3 Our goal is to make clients happy and help them get what they want
        .tpl-block-list-objects(data-object-number="1")
          each item in text2
            .picture-object
              .picture-overlay.picture-bg(style="background-image:url("+item.bg+")")
              .picture-overlay.picture-shadow
              .picture-wrapper
                .picture-title=item.header
                .picture-text=item.caption
    p team 2 tiles
    section.tmp-template-picture-under-text.mixin-layout-tiles_4#2.tmp_no_contrast.tmp_text_left_corner
      .picture-prefix
        .tmp-template-header
            h2.header2 What we do
            h3.header3 Our goal is to make clients happy and help them get what they want
      .tpl-block-list-objects(data-object-number="1")
        each item in text4
          .picture-object
            .picture-overlay.picture-bg(style="background-image:url("+item.bg+")")
            .picture-overlay.picture-shadow
            .picture-wrapper
              .picture-title=item.header
              .picture-text=item.caption
    p узкая колонка в 1000 пикселей
    div(style="max-width:1000px; margin: 0 auto")
      section.tmp-template-picture-under-text.mixin-layout-tiles_4#2.tmp_no_contrast.tmp_text_left_corner
        .picture-prefix
          .tmp-template-header
              h2.header2 What we do
              h3.header3 Our goal is to make clients happy and help them get what they want
        .tpl-block-list-objects(data-object-number="1")
          each item in text4
            .picture-object
              .picture-overlay.picture-bg(style="background-image:url("+item.bg+")")
              .picture-overlay.picture-shadow
              .picture-wrapper
                .picture-title=item.header
                .picture-text=item.caption
    p узкая колонка в 600 пикселей
    div(style="max-width:600px; margin: 0 auto")
      section.tmp-template-picture-under-text.mixin-layout-tiles_4#2.tmp_no_contrast.tmp_text_left_corner
        .picture-prefix
          .tmp-template-header
              h2.header2 What we do
              h3.header3 Our goal is to make clients happy and help them get what they want
        .tpl-block-list-objects(data-object-number="1")
          each item in text4
            .picture-object
              .picture-overlay.picture-bg(style="background-image:url("+item.bg+")")
              .picture-overlay.picture-shadow
              .picture-wrapper
                .picture-title=item.header
                .picture-text=item.caption
    
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    script(src="../../css-element-queries/ResizeSensor.js")
    script(src="../../css-element-queries/ElementQueries.js")


